body{
    background-color:rgb(138, 173, 172);;
    /* color: black; */
}

.top{
    text-align: center;
    border: 5px solid #ddddd0;
    background-color:#343434;
    color:azure;
    margin-bottom: 20px;
    padding: 5px;
    /* background-image: url("https://img.freepik.com/free-photo/beautiful-verdigris-oxidized-copper-background_24837-103.jpg?w=1380&t=st=1651060310~exp=1651060910~hmac=78f7488ba59d4c706c144c5dae6fe42ca85d6ccc8d07123cb4555de07470def0"); */
    
    width: 900px;
    height: fit-content;
    white-space: pre-wrap;
    border-radius: 30px;
    font-size: 20px;
    align-self: center; 
    justify-content: center;
      
}
/* .b1{
    margin-top: 20px;
    display: flex; 
    align-items: center;
     justify-content: space-evenly;
     border: 1px solid green;
     position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
} */
