<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching Poems</title>
</head>

<body style="background-color: rgb(138, 173, 172);">
    <div style = "width: 100%;
    text-align: center;">
        <div style="display: inline-block;
    
    width: 900px;
    height: fit-content;
    border: 5px solid #ddddd0;
    padding: 10px;
    opacity: 70%;
    border-radius: 30px;
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    align-self: center; 
    justify-content: center; 
    background-color: #343434;
    color:azure;">
        <div style="margin-bottom: 100px;">
            {{name}}
            <br />
            <br>
            <div>


                {%for i in range(0, len)%}
                <div style="white-space: pre-wrap;">
                <li>{{text[i]}}</li>
            </div>
            {%endfor%}

        </div>
    </div>
    </div>
    

</body>

</html>